<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <div class="contentwrapper">
     {% include 'flash.html' %}
    <h2 class="aligncenter">Why become a domain name suggester?</h2>
    <p>When you register to become a name suggester, you'll be able to suggest names for <a href="{{ url_for('postings') }}">open projects</a>. After 7 days (or sooner), the job poster must pick a winning suggestion. If that was your suggestion, you earn the bounty.</p>
     <p>There are 3 main benefits<p>
    <ol><li><strong>Pay</strong>: I'm looking for name suggesters who can come up with GREAT names. If you're good at coming up with great names, you could easily earn $20+ per hour. However, there is no guarantee, since you only earn money if you win.</li>
        <li><strong>Work when you want</strong>: You can suggest as many or as few names as you'd like, whenever you'd like.</li>
        <li><strong>Honestly, it's fun</strong>: Some people love being creative and coming up with the perfect domain name. If that sounds like you, this might be right for you.</li>
    </ol>
    <p>If you have any questions, just shoot me an email at Dale[at]namegeniuses.com, and I'll clear things up.</p>
    <p>Here's a short video that shows how it works:</p>
    <div class="aligncenter"><iframe width="560" height="315" src="https://www.youtube.com/embed/Ch5KWsfakO8" frameborder="0" allowfullscreen></iframe></div>
    <p></p><p>If you're eager to get started, click the register button below:</p>
    <div class="aligncenter" style="margin-top:40px;"><a href="{{ url_for('registersuggester') }}" class="bigbutton button-orange">Register</a></div>
    </div>

{% endblock %}
