<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="dashboard">   
 {% include 'flash.html' %}
    <h1 style="text-align:center;">Dashboard</h1> 
   {% if user.jobposter %}        
        <div class="buttoncontainer"><a href="{{ url_for('newproject') }}" class="button-orange button-right projectbutton">Create a new project</a></div>
        <div id="dashtable">
        {% if projects %}
            <h3>Your projects:</h3>
            <table class="table table-bordered table-striped">
                <tr><td>Project Title</td><td>Status</td><td>Number of entries</td><td></td></tr>
            {% for p in projects %}
                <tr><td><a href="{{ url_for('projectpage',pnumber=p.id) }}"><div>{{p.title}}</div></a></td><td>{{ p.status }}</td><td>{{ p.number_of_entries }}</td>
                    {% if p.status == "Pending" %}
                        <td><a href="{{ url_for('payment',pid=p.id, ptype=p.project_type) }}">Pay to make project go live</a></td>
                    {% elif p.status== "Closed" %}
                        <td>Winning domain: {{ p.winner }} </td>
                    {% else %}
                        <td><a href="{{ url_for('projectpage',pnumber=p.id) }}">View Entries</a></td>
                   {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <div><p>You haven't created any projects yet! Get started by clicking the big orange button.</p>
                <p>Or, watch this short YouTube tutorial that shows you step-by-step how to create a project:</p>
                <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ag8UldVHAsA" frameborder="0" allowfullscreen></iframe></p>
            </div>
    
        {% endif %}
        </div>
    {% else %}
        <table class="table table-bordered table-striped">
        <tr><td>Number of entries:</td><td>{{count}}</td></tr>
        <tr><td>Number of winning entries:</td><td>{{currentwins}}</td></tr>
        <tr><td>Your earnings:</td><td>${{winnings}}</td></tr>
        <tr><td>Your Paypal email:</td><td>{{ user.paypalemail }} (<a href="{{ url_for('editprofile')}}">Change</a>)</td></tr>
        </table>
        {% if suggestions %}
        <h2>Detailed Breakdown</h2>
        <table class="table table-bordered table-striped">
            <tr><td>Project name</td><td>Winning Domain</td><td>Entry #1</td><td>Entry #2</td><td>Entry #3</td><td>Entry #4</td><td>Entry #5</td></tr>            
            {% for s in suggestions %}
            <tr><td>{% for p in allpostings %}
                        {% if s.posting_id == p.id %}<a href="{{ url_for('projectpage', pnumber=p.id)}}">{{ p.title }}</a></td>
                            {% if p.winner %}<td>{{ p.winner }}</td>
                            {% else %}<td>Not Yet Chosen</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
           
            <td>{{s.Suggest1}}</td><td>{{s.Suggest2}}</td><td>{{s.Suggest3}}</td><td>{{s.Suggest4}}</td><td>{{s.Suggest5}}</td></tr>
            
            {% endfor %}
        </table>
        {% endif %}

    {% endif %}

</div>   


{% endblock %}
