<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div> 
        <div class="loginform">
         {% include 'flash.html' %}
        <h2>What is your Paypal email address:</h2>
                <form method="post" role="form">
                            {{ form.hidden_tag() }}

                  <div class="form-group">
                    {{ form.paypalemail(placeholder="Email Address",class="inputfield")}}
                  </div>
                 
                  <button type="submit" class="btn btn-default btn-big bigbutton">Submit</button>
                </form>
        </div>
    </div>
{% endblock %}
