<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<h1 class="aligncenter extraspace" style="font-family: 'Catamaran'">Here are some results that others have gotten in the past...</h1>
<div id="exampleboxoutside">

    <div class="examplebox bluebox exleft">
        <h2 class="aligncenter"><a href="https://www.namegeniuses.com/project/26">Project: Health Research App</a></h2>
        <ul style="list-style-type:square">
          <li>Price paid: $100</li>
          <li>Number of entries: 104</li>
          <li>Winning name: curify.org</li>
        </ul>
    </div>

    <div class="examplebox orangebox exright">
        <h2 class="aligncenter"><a href="https://www.namegeniuses.com/project/20">Project: User Feedback to Reduce Bounce Rates</a></h2>
        <ul style="list-style-type:square">
          <li>Price paid: $50</li>
          <li>Number of entries: 76</li>
          <li>Winning name: userclamp.com</li>
        </ul>
    </div>
</div>
<div id="exampleboxoutside">

    <div class="examplebox bluebox exleft">
        <h2 class="aligncenter"><a href="https://www.namegeniuses.com/project/26">Project: Site for beginners</a></h2>
        <ul style="list-style-type:square">
          <li>Price paid: $20</li>
          <li>Number of entries: 47</li>
          <li>Winning name: startinout.com</li>
        </ul>
    </div>

    <div class="examplebox orangebox exright">
        <h2 class="aligncenter"><a href="https://www.namegeniuses.com/project/20">Project: Digital product agency</a></h2>
        <ul style="list-style-type:square">
          <li>Price paid: $35</li>
          <li>Number of entries: 84</li>
          <li>Winning name: prodeny.com</li>
        </ul>
    </div>
</div>
<div id="exampleboxoutside">

    <div class="examplebox bluebox exleft">
        <h2 class="aligncenter"><a href="https://www.namegeniuses.com/project/3">Project: Marketplace for designers</a></h2>
        <ul style="list-style-type:square">
          <li>Price paid: $50</li>
          <li>Number of entries: 687</li>
          <li>Winning name: designmypost.com</li>
        </ul>
    </div>

    <div class="examplebox orangebox exright">
        <h2 class="aligncenter"><a href="https://www.namegeniuses.com/project/7">Project: Ecommerce site for hobbyists</a></h2>
        <ul style="list-style-type:square">
          <li>Price paid: $40</li>
          <li>Number of entries: 290</li>
          <li>Winning name: hobblox.com</li>
        </ul>
    </div>


</div>



{% endblock %}