<p>Hey,</p>

<p>Thanks for giving Name Geniuses a shot, I'm sure you'll get some great domain name suggestions.</p>

<p>Most suggestions will start rolling in within 1-3 days. I send out an email about new postings every morning (yours will be in the next one), which really gets suggestions coming in.</p>

<p>You can wait as long as you'd like to pick a winner.</p>

<p>If you need help at any time during this process, or have questions or feedback, just shoot me an email.</p>

<p>Cheers,</p>

<p>Dale Cudmore</p>

<p>Name Geniuses Creator</p>