<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    {% include 'flash.html' %}
    <div id="headerboxoutside">
        <div id="headerboxcontent" >
            <div><h1>We'll help you find the <i>perfect</i> name for your business</h1>
            <h2>Tell us about your business idea, then you'll get 50+ creative business name ideas from our users - <i>you choose the best.</i></h2>
            <h2>If you don't find a name that you're happy with, we'll gladly refund your payment.</h2></div>
            <div class="bigbuttonbox">
                <div class="buttonbox"><a href="{{ url_for('register') }}" class="bigbutton button-orange button-left"><strong>Get started now</strong></a></div>
                <div class="buttonbox"><a href="#howitworks" class="bigbutton button-blue button-right"><strong>See how it works</strong></a></div>
            </div>
        </div>
    </div>
    <div class="howitworksoutside">
        <div class="howitworks">
            <h2 id="howitworks" class="aligncenter">How it works</h2>
            <p>Here's a short video (30 secs) showing you how simple it is (bullet point summary below it if you prefer):</p>
            <div>
            <div style="width: 100%; height: 0px; position: relative; padding-bottom: 56.206%;"><iframe src="https://streamable.com/e/lv9o?muted=1&amp;logo=0&amp;hd=1" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no" style="width: 100%; height: 100%; position: absolute;"></iframe></div>
                <div id="bulletpoints">
                <p>1. Provide a few details about your project</p>
                <p>2. <strong>Pick your price</strong> (the winner gets a percentage of it). The higher the price, the more time our users will spend on your project <strong>(Minimum $20)</strong>.</p>
                <p>3. Wait for our users to submit their great, creative name suggestions</p>
                <p>4. Pick a winner whenever you see the perfect name for your business</p>
                </div>            
            </div>
        </div>
                    <div class="buttonbox aligncenter"><a href="{{ url_for('register') }}" class="bigbutton button-orange">Register and get started</a></div>

    </div>
    <div class="faqoutside">
        <div class="faqinside">
            <h2 class="aligncenter">Frequently Asked Questions</h2>
            <div class="faqleft">
            <h3>How many name suggestions will I get?</h3>
            <p>Even if you go with the minimum amount ($20), you'll get at least 50 suggestions (likely more). But the more you choose to pay, the more time our users will be able to spend coming up with the best names possible. Refer to <a href="{{ url_for('pricing') }}">the pricing page</a> for more details.</p>
            <h3>What if I don't like any of the domain names?</h3>
            <p>This is a tricky one for us to handle. Some people will post a project, register one of the suggestions and then try to get a refund. That being said, if you're truly not happy (which will be rare with hundreds of human-generated suggestions), and can explain why, I'll refund you your payment.</p>            
            <h3>What happens if I think of my own domain name while my posting is still up?</h3>
            <p>Another tricky situation, and not ideal. But, we will close the project and give you a 50% refund. The rest of the payment (minus standard fees) will go to a randomly selected user that suggested a name to the posting.</p>
            </div>
            <div class="faqright">
            <h3>How soon will I get my domain name?</h3>
            <p>As soon as you pay for your posting, it goes live on <a href="{{ url_for('postings') }}">the open postings board</a>. From there, the suggestions from our users will start coming in, and you can wait as long (or short) as you'd like to pick a winner.</p>
            <h3>Who are your name suggesters?</h3>
            <p>Right now, they're just people who enjoy coming up with creative domain names and trying to earn a fair amount for their work. In the future, all name suggesters will have to go through a basic name certification course, which will increase the quality of our suggestions even further.</p>            
            </div>
        </div>

    </div>
{% endblock %}