{% extends "base.html" %}
{% block content %}
<div class="contentwrapper aligncenter">
    <h2>Once you make a payment, your project will instantly go live. Note that billing address and zip code is only for billing purposes, it is not recorded, nor will you ever be mailed anything.</h2>
  <form action="/charge/{{projectid}}/{{amount}}" method="post">
    <article>
      <label>
        <span>For your chosen package, the cost is ${{ amount }}</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="Domain name service charge"
            data-amount="{{ centsamount }}"
            data-locale="auto"
            data-zip-code="true">
    </script>
  </form>
</div>
<!-- Google Code for Domain name package Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 949470169;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "1usgCPby12QQ2YffxAM";
var google_conversion_value = 5.00;
var google_conversion_currency = "USD";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/949470169/?value=5.00&amp;currency_code=USD&amp;label=1usgCPby12QQ2YffxAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

{% endblock %}