{% extends "base.html" %}
{% block content %}
<div class="contentwrapper aligncenter">
    <h2>Once you make a payment, your project will instantly go live</h2>
  <form action="/charge/{{projectid}}/{{amount}}" method="post">
    <article>
      <label>
        <span>For your chosen package, the cost is ${{ amount }}</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="A Flask Charge"
            data-amount="{{ centsamount }}"
            data-locale="auto"></script>
  </form>
</div>
{% endblock %}