<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}
<div id="pricepage">
<h1>Simple Pay What You Want Pricing</h1>
<div id="pricepoints">
<p>The user with the winning name suggestion (chosen by you), gets a large percentage of the price you pay.</p>

<p>The more you choose pay, the more incentive there is for our users to spend more time and effort coming up with the PERFECT domain name for your site.</p>

<p>You only pay <i>after</i> you set up your project. <strong>You can pay whatever you'd like, the only rule is that there is a $20 minimum</strong>.</p>
</div>
    <div id="pricecontainer">
        
        <div id="priceleft">
            <h3 style="color:#528EAD;font-size:2.5em;">Essential</h3>
            <p class="price">Price: Pay what you want</p>
            <p><i>What you get:</i></p>
            <ul><li>Hundreds of great domain idea suggestions</li>
                <li>You can choose the winning domain name whenever you want</li>
                <li>An unlimited number of users can enter suggestions<p>
            </ul>
        </div>
        
        <div id="priceright">
            <h3 style="color:#5AB781;font-size:2.5em;">Extra<strong> (Minimum $80)</strong></h3>
            <p class="price">Price: Pay what you want </p>
            <p><i>What you get:</i></p>
            <ul><li>Everything from the essential package</li>
                <li>We manually go through the hundreds of suggestions you get and leave you with only the best suggestions (usually a list of 50 or so).</li>
            </ul>
        </div>
    
    </div>
    <div class="buttonbox spacetop"><a href="{{ url_for('register') }}" class="bigbutton button-orange">Register now</a></div>

</div>
{% endblock %}
