<p>Welcome to Name Geniuses!</p>
<p>Now that your account is confirmed, you can start suggesting domain names for <a href="http://www.namegeniuses.com/postings">open projects</a>.<p>
<p>If you haven't seen it yet, <a href="https://www.youtube.com/watch?v=Ch5KWsfakO8">here's a quick tutorial video that will show you how to use the site</a>.</p>
<p>If you need help at any point, or have questions, just send me an email at "Dale@namegeniuses.com", I'll get back to you A.S.A.P.</p>
<p>Cheers,</p>
<p>Dale Cudmore</p>
<p><i>Name Geniuses Founder</i></p>